.topo_container {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(249, 219, 121);
  }
  
  .topo_container div {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .img {
    width: 100px;
    height: 100px;
  }
  
  .topo_container nav {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  
  .link_topo {
    font-size: 18px;
    font-weight: 600;
    color: black;
    text-decoration: none;
  }
  
  @media (max-width: 768px){
    .topo_container div{
      flex-direction: column;
    }
  
    .topo_container nav {
      border-top: 1px solid grey;
      width: 100%;
      justify-content: space-around;
    }
  
  }