.secao_banner {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/banner-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px;
    background-color: rgb(249, 219, 121);
  }
  
  .texto_banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
  }
  
  .texto_banner h1 {
    font-size: 100px;
    color: white;
    text-shadow: 3px 5px 2px #474747;
  }
  
  .secao_nossos_sabores,
  .secao_nossos_eventos,
  .secao_sobre_nos {
    width: 100%;
    display: flex;
  }
  
  .img_card,
  .img_card,
  .img_card {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .container_texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 50px;
  }
  
  .container_texto h2 {
    font-size: 35px;
    text-align: center;
  }
  
  .container_texto span {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
  }
  
  .container_texto p {
    max-width: 600px;
    line-height: 30px;
    text-align: center;
  }
  
  @media (max-width: 768px){
    .texto_banner h1 {
      font-size: 60px;
    }
  
    .secao_nossos_sabores {
      flex-direction: column;
      align-items: center;
    }
  
    .img_card {
      width: 100%;
    }
  
    .container_texto {
      width: 100%;
      padding: 100px 20px;
    }
  
    .secao_nossos_eventos {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .secao_sobre_nos {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 425px){
    .texto_banner h1 {
      font-size: 40px;
    }
  
    .secao_banner {
      background-size: 400px;
    }
  }
